@import './../variables.scss';

.sidebar{
    background-color: white;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        align-items: center;
        font-size: 36px;
        font-weight: 400;

        mat-icon{
            padding-left: 20px;
            cursor: pointer;
            color: $base-btn-color;
        }
    }

    app-contact-list{
        overflow-y: auto;
    }
}

.detail{
    background-color: #F8F8F8;
    max-height: 100vh;
}

